body{
    background-image: url('Image/about.jpg');
}
.item{
    display: block;
    position: fixed;
  Left: 10vw;

}
p{ margin-left: 4vw;
    font-size: 23px;
    padding: 0px;
    margin: 4vw 5vw;
    color:white;
}
h4{
    margin-left: 5vw;
    font-size: 37px;
    padding: 0px;
    margin: 4vw 5vw;
    color:white;
}
@media(max-width: 700px,min-width:320px){
Body{
Background-repeat:no-repeat;
Background-size: cover;
Background-position: auto;
width: 4vw;
height: 5vw;    
}
.item{
    display: block;
    position: fixed;
  right: 5vw;
}
}
