.left{
display:inline-block;
position:fixed;
top:50px;
left:50px;
}
 .right{
display:inline-block;
position:fixed;
top:50px;
right:50px;
}
/*

  <div class="left button">
<a href="categories.html"><img src="image/return.png" alt="back-btn" width="60" height="60"></a></div>

<div class="right button">
<a href="index.html"><img src="image/home.png" alt="home-btn" width="60" height="60"></a></div>


<link rel="stylesheet" href="returnhome.css">


*/