body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    body-attachment:fixed;
    background-position: auto;
}

.box{
    display: block;
    margin:0px auto;
}

.a1{
    font-size: 10vw;
    color: white;
    text-shadow:9px 12px 10px black;
    z-index: 2;
}

.a2{
    font-size: 10vw;
    color: black;
    text-shadow:9px 12px 10px black;
    z-index: 2;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13vw;
    z-index: 2;
}

.box1{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 3vw 7vw;

}

.b1{
    position: relative;
transition:0.3s linear;
}
.b1:hover{
transform:scale(1.05)
}

.b1 span{
    font-size: 2vw;
}


button{
       background-color: white;
       border-radius: 100%;
       height: 16vw;
       width: 16vw;
       box-shadow:5px 6px 5px rgb(31, 30, 30);
       box-sizing: border-box;
}

button:hover{
       cursor: pointer;
} 

.p1{
    height: 8vw;
    width: 8vw;
    border-radius: 100%;
transition:0.3s linear;
}

.p1:hover{
transform:scale(1.05)
}
.s1{
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
}

#t1{
    width: 4vw;
    height: 5vw;
    border-radius: 100%
}

@media(max-width: 700px){
    button{
        height: 20vw;
        width: 20vw;
      }

.a2{
   Color: white;
  }
}


