
   
body{
  background-image: url('Image/i12.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;

}
.box1{
  display: flex;
  align-items: center;
  justify-content: center;

}
.a1{
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	 position: fixed;
	  left: 25vw;
	  top: 1vw;
	  font-size: 18vw;
	  color: white;
    
	}
	.a2{
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	position: fixed;
	left: 31vw;
	top: 1vw;
	  font-size: 18vw;
	  color: white;
	}
	.a3{
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	position: fixed;
	left: 60vw;
	top: -1vw;
	  font-size: 20vw;
	  color: white;
	}
	.a4{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	 position: fixed;
	 left: 63vw;
	 top: 20vw;
	    font-size: 4vw;
	    color: white;
	}

.icon1{
  position: fixed;
  top: 58%;
  left: 47%;
  height: 12vw;
  width: 12vw;
  border-radius: 100%;
    transform:translate(40%,55)
  box-shadow: 5px 5px 6px rgb(19, 18, 18);
    
}
.icon1:hover{
  cursor: pointer;
  
}

.item1{
  position: fixed;
  margin: 1vw;
  padding: 4vw;
  left: 36%;
  top: 73%;
  transform:translate(-25%,-70%)
  text-align:centre;
}
.b1{
  display: inline;
  padding: 2vw;
  color: white;
  font-size: 20px;

}
.b1:hover{
  text-shadow: 7px 8px 10px rgb(0, 0, 0);
}
@media(max-width:700px)
{Body{
Width: 500px;
Height:850px;
Background-position: top;
}
@media(orientation:landscape){

.icon1{
top: 5vw;
height: 70px;
width: 60px;
height: 12vw;
    }
     .item1{
    top: 50%;
    
    
    }
    
    
}
@media(0rientation:portrait){
    icon1{
top: 5vw;
height: 70px;
width: 60px;
    
}
     .item1{
    top: 50%;
    
    }
}




@media(0rientation:landscape){
    .a1{
    top: 40vw;
  }
  .a2{
    top: 40vw;
  }
  .a3{
    top: 38vw;
  }
  .a4{
    top: 59vw
  }
    
    }
@media(orientation:portrait){
     .a1{
    top: 40vw;
  }
  .a2{
    top: 40vw;
  }
  .a3{
    top: 38vw;
  }
  .a4{
    top: 59vw
  }
    
    
}
