
   
body{
  background-image: url('Image/i12.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;

}
.box1{
  display: flex;
  align-items: center;
  justify-content: center;

}
.a1{
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	 position: fixed;
	  left: 25vw;
	  top: 1vw;
	  font-size: 18vw;
	  color: white;
    
	}
	.a2{
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	position: fixed;
	left: 31vw;
	top: 1vw;
	  font-size: 18vw;
	  color: white;
	}
	.a3{
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	position: fixed;
	left: 60vw;
	top: -1vw;
	  font-size: 20vw;
	  color: white;
	}
	.a4{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	 position: fixed;
	 left: 63vw;
	 top: 20vw;
	    font-size: 4vw;
	    color: white;
	}

.icon1{
  position: fixed;
  top: 58%;
  left: 47%;
  height: 12vw;
  width: 12vw;
  border-radius: 100%;
  box-shadow: 5px 5px 6px rgb(19, 18, 18);
    
}
.icon1:hover{
  cursor: pointer;
  
}

.item1{
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.b1{
	position: fixed;
	left: 17vw;
top: 83%;
  padding: 2vw;
  color: white;
  font-size: 30px;

}
.b1:hover{
  text-shadow: 7px 8px 10px rgb(0, 0, 0);
}
.b2{
  position: fixed;
  left: 70vw;
  top: 83%;
  padding: 2vw;
  color: white;
  font-size: 30px;

}
.b2:hover{
	text-shadow: 7px 8px 10px rgb(0, 0, 0);
  }
.b3{
  position: fixed;
  left: 60vw;
  top: 83%;
  padding: 2vw;
  color: white;
  font-size: 30px;

}
@media(max-width:700px)
{Body{
Width: 500px;
Height:850px;
Background-position: top;
}
.a1{
Font-size:25vw;
Left:23vw;
top: 25vw;
}
.a2{
Font-size: 25vw;
top: 25vw;
}
.a3{
Font-size:28vw;
Left: 72vw;
top:22vw;}
.a4{
Font-size:6vw;
Left:75vw;
Top: 51vw;}
.icon1{
Height: 18vw;
Width: 18vw;}
	.item1{
		left: 41%;}
.b1{
	font-size: 30px;}
}

