body{
    background-image: url('Image/i14.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:fit;
    
}
.box{
    display: block;
    margin:0px auto;
}
.a1{
    font-size: 10vw;
    color: white;
    position: fixed;
    left: 31vw;
    top: 0px;
    text-shadow:9px 12px 10px black;
    z-index: 2;

}
.a2{
    font-size: 10vw;
    color: black;
    position:fixed;
    left: 50vw;
    top: 0px;
    text-shadow:9px 12px 10px black;
    z-index: 2;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13vw;
}
.box1{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 3vw 7vw;

}
.b1{
    position: relative;
}
.b1 span{
    font-size: 2vw;
}
   button{
    
       background-color: white;
       border-radius: 100%;
       height: 16vw;
       width: 14vw;
       box-shadow:5px 6px 5px rgb(31, 30, 30);
       box-sizing: border-box;
   }
   button:hover{
       cursor: pointer;
      
       
   }
   .d{
    background-color: white;
    border-radius: 34%;
    height: 9vw;
    width: 18vw;
    box-shadow:5px 6px 5px rgb(31, 30, 30);
    box-sizing: border-box; 
   }
   .d:hover{
    cursor: pointer;
   }
#c1{
    height: 8vw;
    width: 8vw;
    border-radius: 100%;
}
#c2{
    height: 8vw;
    width: 15vw;
    border-radius: 35%;
}
#c3{
    height: 8vw;
    width: 8vw;
    border-radius: 100%;
}
#c4{
    height: 8vw;
    width: 15vw;
    border-radius: 35%;
}
#c5{
    height: 8vw;
    width: 15vw;
    border-radius: 35%;
}
#c6{
    height: 8vw;
    width: 15vw;
    border-radius: 35%;
}
#c7{
    height: 8vw;
    width: 8vw;
    border-radius: 100%;
}
#c8{
    height: 8vw;
    width: 15vw;
    border-radius: 35%;
}
#c9{
    height: 8vw;
    width: 8vw;
    border-radius: 100%;
}
#c10{
    height: 8vw;
    width: 15vw;
    border-radius: 35%;
}
#c11{
    height: 8vw;
    width: 15vw;
    border-radius: 35%;
}
#c12{
    height: 8vw;
    width: 15vw;
    border-radius: 35%;
}
#c13{
    height: 8vw;
    width: 8vw;
    border-radius: 100%;
}
#c14{
    height: 8vw;
    width: 15vw;
    border-radius: 35%;
}
#c15{
    height: 8vw;
    width: 15vw;
    border-radius: 35%;
}
#c16{
    height: 8vw;
    width: 15vw;
    border-radius: 35%;
}
#c17{
    height: 8vw;
    width: 15vw;
    border-radius: 35%;
}
#c18{
    height: 8vw;
    width: 8vw;
    border-radius: 100%;
}
#c19{
    height: 8vw;
    width: 8vw;
    border-radius: 100%;
}
#c20{
    height: 8vw;
    width: 8vw;
    border-radius: 100%;
}
#c21{
    height: 8vw;
    width: 8vw;
    border-radius: 100%;
}
#c22{
    height: 8vw;
    width: 8vw;
    border-radius: 100%;
}
#c23{
    height: 8vw;
    width: 8vw;
    border-radius: 100%;
}
@media(max-width: 350px){
    button{
        height: 20vw;
        width: 20vw;
    }
 }
