body{
    background-image: url('Image/i15.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.item{
    display: block;
    position: fixed;

}
p{ margin-left: 4vw;
    font-size: 23px;
    padding: 0px;
    margin: 4vw 5vw
}
h4{
    margin-left: 3vw;
    font-size: 37px;
    padding: 0px;
    margin: 4vw 5vw;
}
@media(max-width: 700px){
Body{
Background-repeat:repeat-y;
Background-size: cover;
Width:500px; height:800px;
Background-position: top center;
}
}

