body{
    background-image: url('Image/i8a.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -3vw;
    top: 29vw;
}
.a1{position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    color: white;
    text-shadow: 10px 11px 10px black;
}
.item{
    display: flex;
    position:fixed;
    align-items: center;
    justify-content: center;

}
.b1{
    box-sizing: border-box;
    background-color: white;
    border-radius: 100%;
    margin: 47vw 10vw;
    

}

button{
    position: fixed;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: white;
    width: 10vw;
    height: 10vw;
    box-shadow: 5px 6px 5px black;
    
}
#c1{
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
}
#c2{
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
}
#c3{
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
}
#c4{
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
}
.item1{
    display: flex;
    position: fixed;
    z-index: 2;
}
.s1{
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;

}
#t1{
    width: 4vw;
    height: 5vw;
    border-radius: 100%
}
@media(max-width: 700px){
Body{
Background-repeat:repeat-y;
Background-size: cover;
Width:500px; height:800px;
Background-position: top center;
}
.box{
Right:2vw;
Top: 59vw;}
.a1{
Font-size: 15vw;
}
.b1{
Margin-top:87vw;
}
}
